@model PaginatedList<MailListViewModel>
@{
    ViewData["Title"] = "Incoming Mail";
}

<h1 class="display-5">Incoming Mail</h1>
<hr />
<a asp-action="index" asp-controller="correspondance" class="btn btn-primary">Outgoing mail</a>
<a asp-action="add" asp-controller="mail" class="btn btn-primary">New mail</a>
<a asp-action="printall" asp-controller="mail" asp-route-search="@ViewData["CurrentFilter"]" target="_blank" class="btn btn-primary">Print</a><br /><br />
<table class="table table-sm table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th class="col-2">
                <a asp-action="index" asp-controller="mail" asp-route-search="@ViewData["CurrentFilter"]" asp-route-sort="@ViewData["FromSortParam"]" asp-route-currentfilter="@ViewData["CurrentFilter"]">From</a>
            </th>
            <th class="col-2">
                <a asp-action="index" asp-controller="mail" asp-route-search="@ViewData["CurrentFilter"]" asp-route-sort="@ViewData["ToSortParam"]" asp-route-currentfilter="@ViewData["CurrentFilter"]">To</a>
            </th>
            <th class="col-4">
                <a asp-action="index" asp-controller="mail" asp-route-search="@ViewData["CurrentFilter"]" asp-route-sort="@ViewData["SubjectSortParam"]" asp-route-currentfilter="@ViewData["CurrentFilter"]">Subject</a>
            </th>
            <th class="col-2">Received</th>
            <th class="col-2">Ref. No.</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var mail in Model)
            {
                <tr class="clickable-row" data-href='@Url.Action("details", "mail", new { id=mail.Id})'>
                    <td class="col-2">@mail.From</td>
                    <td class="col-2">@mail.To</td>
                    <td class="col-4">@mail.Subject</td>
                    <td class="col-2">@mail.Received</td>
                    <td class="col-2">@mail.ReferenceNumber</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }

                <a asp-action="index"
                   asp-controller="mail"
                   asp-route-search="@ViewData["CurrentFilter"]"
                   asp-route-sort="@ViewData["CurrentSort"]"
                   asp-route-view="@(Model.PageIndex - 1)"
                   asp-route-currentfilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @prevDisabled">
                    &laquo; Previous
                </a>
                <a asp-action="index"
                   asp-controller="mail"
                   asp-route-search="@ViewData["CurrentFilter"]"
                   asp-route-sort="@ViewData["CurrentSort"]"
                   asp-route-currentfilter="@ViewData["CurrentFilter"]"
                   asp-route-view="@(Model.PageIndex + 1)"
                   class="btn btn-default @nextDisabled">
                    Next &raquo;
                </a>
            </td>
        </tr>
    </tfoot>
</table>

@section Scripts
    {
    <script>
        $(function () {
            $('.clickable-row').click(function () {
                window.location = $(this).data('href');
            });
        })
    </script>
}
