@model IEnumerable<OutgoingMailViewModel>

@{
    ViewData["Title"] = "Outgoing Mails";
}
<h2>Outgoing Mails</h2>
<hr />
<a asp-controller="incomingmails" asp-action="index" class="btn btn-default"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back to Incoming Mails</a><br /><br />
<form asp-action="index" method="GET" role="form">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="input-group">
                <span class="input-group-addon">Search for outgoing mail</span>
                <input type="text" name="search" id="search" class="form-control" placeholder="Mail subject">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="Search">
                </span>
            </div>
        </div>
        <table class="table table-condensed table-bordered table-striped table-responsive" style="table-layout: fixed; width: 100%;">
            <thead>
                <tr>
                    <th class="col-sm-2">From</th>
                    <th class="col-sm-2">Incoming Date</th>
                    <th class="col-sm-3">Subject</th>
                    <th class="col-sm-2">Outgoing Date</th>
                    <th class="col-sm-2">Officer</th>
                    <th class="col-sm-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var mail in Model)
                {
                    <tr>
                        <td class="col-sm-2">
                            <a asp-controller="incomingmails" asp-action="sender" asp-route-id=@mail.IncomingMail.From.ToLower().Replace(' ', '-')>
                            @mail.IncomingMail.From</a></td>
                        <td class="col-sm-2">@mail.IncomingMail.IncomingDate.ToString("dd MMMM, yyyy")</td>
                        <td class="col-sm-3" style="word-wrap: break-word;"><a asp-controller="incomingmails" asp-action="details" asp-route-id=@mail.IncomingMailId>@mail.IncomingMail.Subject</a></td>
                        <td class="col-sm-2">@mail.OutgoingDate</td>
                        <td class="col-sm-2">@mail.Officer</td>
                        <td class="col-sm-1"><a asp-controller="outgoingmails" asp-action="details" asp-route-id=@mail.IncomingMailId><i class="fa fa-list"></i>&nbsp;&nbsp;View</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>