@model IEnumerable<CorrespondanceListViewModel>
@{
    ViewData["Title"] = "Mail print out";
    Layout = "/Views/Shared/_PrintLayout.cshtml";
}

<h1 class="display-4 text-center">Ministry of Education and Sports</h1>
<h3 class="display-6 text-center">Permanent Secretary Office</h3>
<h5 class="text-center">Mail Print Out</h5>
<hr />
<br />
<h5 class="text-center"><strong>Outgoing Mail</strong></h5>
<table class="table table-sm table-bordered">
    <thead class="thead-dark">
        <tr>
            <th class="col-2">From</th>
            <th class="col-2">Received</th>
            <th class="col-4">Subject</th>
            <th class="col-2">Sent to</th>
            <th class="col-2">Date sent</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var mail in Model)
            {
                <tr>
                    <td class="col-2">@mail.From</td>
                    <td class="col-2">@mail.Received</td>
                    <td class="col-4">@mail.Subject</td>
                    <td class="col-2">@mail.Office</td>
                    <td class="col-2">@mail.Logged</td>
                </tr>
            }
        }
    </tbody>
</table><br />
