@model IEnumerable<OutgoingMailViewModel>

@{
    ViewData["Title"] = "Incoming Mails";
}
<h2>Outgoing Mails</h2>
<hr />
<form asp-action="outgoing" method="GET" role="form">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="input-group">
                <span class="input-group-addon">Search for outgoing mail</span>
                <input type="text" name="search" id="search" class="form-control" placeholder="Mail reference number or subject">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="Search">
                </span>
            </div>
        </div>
        <table class="table table-condensed table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th class="col-sm-2">From</th>
                    <th class="col-sm-2">Outgoing Date</th>
                    <th class="col-sm-3">Subject</th>
                    <th class="col-sm-2">Reference Number</th>
                    <th class="col-sm-3">To</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var mail in Model)
                {
                <tr>
                    <td class="col-sm-2">@mail.OfficeMail.From</td>
                    <td class="col-sm-2">@mail.OutgoingDate.ToString("dd MMMM, yyyy")</td>
                    <td class="col-sm-3"><a asp-action="details" asp-route-id=@mail.OfficeMail.Subject>@mail.OfficeMail.Subject</a></td>
                    <td class="col-sm-2"><a asp-action="details" asp-route-id=@mail.OfficeMail.Stub>@mail.OfficeMail.ReferenceNumber</a></td>
                    <td class="col-sm-3">@mail.OfficeMail.To</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</form>