@model IEnumerable<IncomingMailViewModel>

@{
    ViewData["Title"] = "Incoming Mails";
}
<h2>Incoming Mails</h2>
<hr />
<a asp-action="new" class="btn btn-default">New Incoming Mail</a><br /><br />
<form asp-action="index" method="GET" role="form">
    <div class="panel panel-default">
        <table class="table table-condensed table-bordered table-striped table-responsive" style="table-layout: fixed; width: 100%;">
            <thead>
                <tr>
                    <th class="col-sm-2">From</th>
                    <th class="col-sm-2">Incoming Date</th>
                    <th class="col-sm-3">Subject</th>
                    <th class="col-sm-2">Reference Number</th>
                    <th class="col-sm-3">To</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var mail in Model)
                {
                    <tr>
                        <td class="col-sm-2">
                            <a asp-controller="incomingmails" asp-action="sender" asp-route-id=@mail.From.ToLower().Replace(' ', '-')>
                            @mail.From</a></td>
                        <td class="col-sm-2">@mail.IncomingDate.ToString("dd MMMM, yyyy")</td>
                        <td class="col-sm-3" style="word-wrap:break-word;"><a asp-controller="incomingmails" asp-action="details" asp-route-id=@mail.IncomingMailId>@mail.Subject</a></td>
                        <td class="col-sm-2"><a asp-controller="mails" asp-action="details" asp-route-id=@mail.IncomingMailId>@mail.ReferenceNumber</a></td>
                        <td class="col-sm-3">@mail.To</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>